/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Crete Round', serif;*/
/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Inter', sans-serif;*/


/*INDEX.HTML*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    width:100%;
    height: 100%;
    overflow: auto;
}

nav{
    display:flex;
    justify-content: space-between;
    background-color: #3E3C3C;
}

nav h1 {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center; 
    padding: 1rem 1rem;
    margin: 1rem 0 0 1rem;
}

#bars {
    color: #ffffff;
    padding: 1rem 1rem;
    margin: 1rem 1rem 0 0; 
}

nav a{
    font-size: 2rem;
}

#bars i:hover{
    color:#FF6B00
}

#desktop{
    display:none;
}

#introduction{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: #1C1A19;
    background-image: url(./assets/images/Illustration-header@2x.png);
    background-repeat: no-repeat;
    background-position: 220% 90%;
    background-size: 75%;
}

#headline{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
}

#headline h1{
    font-family: 'Crete Round', serif;
    color:#FF6B00;
    font-size: 2.5rem;
    text-align: justify;
    margin: 6rem 0 0 2rem;
}

#headline .title{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.3rem;
    margin: .8rem 0 .8rem 2rem;
}

#headline .content{
    font-family: 'Poppins', sans-serif;
    color:#ffffff;
    font-size: 1rem;
    padding:0 2rem;
    margin: .5rem .8rem 0 0;
    line-height: 1.5rem;   
}

.social ul{
    width:40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0 7rem 4rem;
}

.social li{
    list-style-type: none;
}

.social a{
    color: #e7e4e4;
    font-size: 1.2rem;
    cursor: pointer;
    padding:.5rem;
}

.social a:hover{
    color: #FF6B00;
}


/*Work-section*/
#portfolio{
    width: 100%;
    min-height: 100vh;
}

#portfolio p{
    font-family: 'Crete Round', serif;
    font-weight: 400;
    color: #1C1A19;
    font-size: 2rem;
    text-align: center;
    margin: 2rem 0 2.5rem 0;
}

#portfolio hr{
   width: 80%;
   margin:0 auto; 
}

#card-container{
    display: grid;
    margin: 3rem 0 6rem 0;
}

#first-card{
    display:flex;
    justify-content: center;
    align-items: center;  
    flex-wrap: wrap;  
}

#first-card img{
    width: 90%;
    margin: 0 auto;  
}

.card-content{
    width:90%;
    margin:0 auto;
}

#first-card h1{
    font-family: 'Crete Round', serif;
    font-weight: 400;
    font-size: 1.7rem;
    color: #091E42;
    margin:1.5rem 0 0 0;
}

#first-card p{
    margin-top:1rem;
    font-size: 1rem;
    text-align: left;
    font-family: 'Inter', sans-serif;
    color:#091E42;
}

.language{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.class-list{
    list-style-type: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.class-list a{
    color: #091E42;
    padding:.5rem;
    font-size: .8rem;
    text-decoration: none;
    border: 1px solid #8993A4;
}

#first-card button{
    background-color: #FF6B00;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: .8rem;
    padding: .7rem 1rem;
    margin-top: 1.5rem;
    border: none;
    cursor: pointer;
}

.second-card{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card-img {
    width:90%;
    margin: 0 auto;
    position: relative;
       
}

.card-img img{
    width:100%;
    height: auto;
    margin-top: 1rem;
}


.card2-content{
    width: 90%;
    position: absolute;
    top: 14%; 
}

.second-card h1{
    font-family: 'Crete Round', serif;
    font-weight: 400;
    font-size: 2rem;
    padding: .5rem;
    color: #ffffff;
}

.second-card h3{
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    font-size: 1rem;
    text-align: left;
    margin-top: -.3rem;
    padding: .5rem;
}

.languages{
    display: flex;
    padding: .2rem;
    margin-top: 1rem;
}

.class-lists{
    list-style-type: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.class-lists a{
    background-color: rgba(255, 255, 255, .2);
    color: #ffffff;
    padding:.7rem;
    font-size: 1rem;
    margin: .5rem;
    text-decoration: none;
    border: none;
}

.card-img .btn{
    width: 100%;
    background-color: #FF6B00;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 1rem 3rem;
    margin-top: -1rem;
    margin-bottom: 2rem;
    text-align: center;
    border: none;
    white-space: nowrap;  
    cursor: pointer;  
}

.card-img .btn:hover{
    background-color: #FFF5E1;
    color: #FF6B00;
}

.card-img .btn:active{
    background-color: #E05304;
}


/*About me*/
#about{
    width: 100%;
    min-height: 100vh;
    background-color: #1C1A19;
    background-image: url(./assets/images/illustration-about\ me@2x.png);
    background-repeat: no-repeat;
    background-position: 250% 32%;
    background-size: 75%;
}

#about-title{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#about-title h1{
    font-family: 'Crete Round', serif;
    font-weight: 400;
    color:#FF6B00;
    font-size: 3.5rem;
    text-align: justify;
    margin: 5rem 0 0 2rem;
}

#about-title .content{
    font-family: 'Poppins', sans-serif;
    color:#ffffff;
    font-size: 1rem;
    padding:0 2rem;
    margin: .7rem .5rem .8rem 0 ;
    line-height: 1.5rem;   
}

#resume-btn{
    background-color: #FF6B00;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    padding: .7rem 1rem;
    margin: 1rem 0 12rem 2rem;
    border: none;
    cursor: pointer;
}

#resume-btn:hover{
    background-color: #FFF5E1;
    color: #FF6B00;
}

#resume-btn:active{
    background-color: #E05304;
}

#about-title hr{
    width: 80%;
    margin: 0 auto;
    color: #ffffff;
}

.frameworks{
    margin-top: 4rem;
    padding-bottom: 6rem;
}

.Lang{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    color:#ffffff;
    margin-top: 1rem;
}

.Lang span{
    margin-right: 1rem;    
}

.Lang img{
    margin-top: 1rem;
    margin-right: .5rem;
}

.Lang li{
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    font-size: .8rem;
    text-align: center;
    margin-top: 1rem;
}

/*contact section*/
#contact{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact-text{
    margin: 6rem 0 6rem 0; 
}

.contact-text h2{
    width: 90%;
    margin: 0 auto;
    color: #172B4D;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 1.5rem; 
}

form{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

input{
    width: 100%;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    padding: .6rem;
    color:#979493;
    border: none;
}

#message{
    width: 100%;
    height: 50%;
    background-color:#FBF8F7;
    font-style: italic;
    padding: .6rem;
}

form button{
    background-color: #FF6B00;
    color: #ffffff;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    padding: .7rem;
    cursor: pointer;
    border: none;
}

form button:hover{
    background-color: #FFF5E1;
    color: #FF6B00;
}

form button:active{
    background-color: #E05304;
}


/*footer*/
footer{
    margin-top: 3rem;
}

.footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 3rem 0;

}

.footer-icons li{
    list-style-type: none;
}
.footer-icons a{
    color: #505F79;
    font-size: 1.2rem;
    cursor: pointer;
    padding:.5rem;
}

 
/*Media Query*/
@media only screen and (min-width: 375px){ 
    #introduction{
        background-position: 180% 90%;
        background-size: 70%;
    }

    #headline h1{
        font-size: 3rem;
    }
    
    #headline .title{
        width: 80%;
        font-size: 1.7rem;
    }

    #headline .content{
        width: 70%;
    }

    .social ul{
        margin:3rem 0 0 4rem;
    }

    /*work section*/
    .class-list a{
        padding: 1rem;
        font-size: 1rem;
    }
    
    #first-card button{
        font-size: 1rem;
        padding: 1rem 1.2rem;
    }

    .second-card{       
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    /*about section*/
    #about{
        background-position: 220% 20%;
        background-size: 75%;
    }
    
    #about-title hr{
        margin-top: 7.5rem;  
    }

    .Lang{
        font-size: 1.5rem;
    }
    
    .Lang li{
        font-size: 1rem;
    }
    
    }
    
    
@media only screen and (min-width: 768px){
    nav h1{
        margin-left: 6rem;
    }
    
    #bars{
        display:none;
    }
    
    #desktop{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    #desktop ul{
        display: flex;
        margin: 1rem 6rem 0 0;
    }
    
    #desktop li{
        list-style-type: none;  
    }
    
    #desktop a{
        font-family: 'Inter', sans-serif;
        color: #ffffff;
        font-size: 1rem;
        padding: 1.2rem;
        text-decoration: none;
        cursor: pointer;
    }
    
    #desktop a:hover{
        color: #FF6B00;
    }

    #introduction{
        background-position: 105% 5%;
        background-size: 40%; 
    }

    #headline{
        display:block; 
        margin-top: 3.5rem;
    }
        
    #headline h1{
        color: #FF6B00;
        font-size: 3.5rem;
        margin-left: 7rem;
    }
    
    #headline .title{
        color: #ffffff;
        font-size: 2rem;
        margin-left: 7rem;
    }
    
    #headline .content{
        width: 45%;
        margin: 0 0 15rem 5rem ;
    }
    
    .social ul{
        display:block;
        position: absolute;
        top:18%;
        right:58%;  
    }
    
    .social li{
        padding: .4rem;
    }
    
    .social a{
        font-size: 1.2rem;
    }

    /*work section*/
    #portfolio{
        width: 90%;
        margin: 0 auto;  
    }

    #portfolio span{
        display: flex;
        flex-direction: column;
    }

    #portfolio p{    
        font-size: 2.5rem;
        text-align: left;
        margin: 4rem 0 2rem 2rem;
    }

    #portfolio hr{
       width: 68%;
       margin-top:-3rem; 
       margin-right: .5rem;
       margin-bottom: 2rem;
    }

    #first-card{
        width: 100%;
        height: auto;
    }
    
    #first-card img{
        width: 60%;
        margin-bottom: 3rem;  
    }

    #first-card button:hover{
        transform: rotate(0deg) translateX(50px);
        background-color: #FFF5E1;
        color: #FF6B00;

    }

    .card-content{
        width:40%; 
        margin-top: -5rem;
        
    }
    
    #first-card h1{
        font-size: 2rem;
        margin-left: .5rem;
    }
    
    #first-card p{
        margin-top:1rem;
        font-size: 1rem;
        margin-top: 0;
        margin-left: .5rem;
    }
    
    .language{
        margin-top: -1rem;
        margin-left: .5rem;
    }
    
    .class-list a{
        padding:.5rem;
        font-size: .8rem;
    }
    
    #first-card button{
        margin-top: 2rem;
        margin-left: .5rem;
    }
   
    .second-card{
        width: 100%;
    }

    .card-img{
        width: 30%;
        height: auto;
        margin-top: 1rem;
    }

    .card2-content{
        top: 20%;
 
    }
    
    .languages{
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .class-lists a{
        padding:.7rem;
        font-size: 1rem;
        margin: .3rem;
       
    }

    .card-img .btn{
        display:none;
    }

    /*about me*/
    #about{
        background-position: 100% 18%;
        background-size: 40%;   
    }
    
    #about-title{
        display: inline-block;
        padding: 5rem 0 0 5rem;
    }
    
    #about-title h1{
        margin: 5rem 0 0 2rem;
    }
    
    #about-title .content{
        width: 40%; 
    }
    
    #resume-btn{
        margin: 2rem 0 8rem 2rem;
    }
        
    #about-title hr{
        margin: 0 auto; 
    }
    
    .frameworks{
        display: flex;
        justify-content: space-evenly;
        align-self: flex-start;
    }
    
    .Lang{
        font-size: 1.5rem;
        text-align: left;
        color:#ffffff;  
    }
     
    .Lang li{
        list-style-type: none;
        font-family: 'Poppins', sans-serif;
        font-size: .8rem;
        align-self: self-start;
        margin-top: 1rem;
    }

    /*Contact*/
    #contact{
        flex-direction: row;
        margin-bottom: 6rem;
    }

    .contact-text{
        margin: 8rem 0 0 0; 
    }
    
    .contact-text h2{
        width: 55%;
        text-align: left;
        color:#262626;
        font-size: 1.8rem; 
    }
    
    form{
        width: 100%;
        margin: 8rem 10rem 0 0; 
        text-align: left;
    }
    
    input{
        width: 100%;
        font-size: 1rem;
        font-family: 'Inter', sans-serif;
        padding: .6rem;
        color:#979493;
        border: none;
    }
    
    #message{
        width: 100%;
        height: 30%;
    }
    
    form button{
        background-color: #FF6B00;
        color: #ffffff;
        font-size: 1rem;
        font-family: 'Inter', sans-serif;
        padding: .7rem;
        cursor: pointer;
        border: none;
    }

    footer hr{
        margin-top: 2rem;
    }

    }
    
    
      
    