/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Crete Round', serif;*/
/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Inter', sans-serif;*/


/*INDEX.HTML*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    width:100%;
    height: 100%;
    overflow: scroll;
}

nav{
    display:flex;
    justify-content: space-between;
    background-color: #3E3C3C;
}

nav h1 {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center; 
    padding: 1rem 1rem;
    margin: 1rem 0 0 1rem;
}

#bars {
    color: #ffffff;
    padding: 1rem 1rem;
    margin: 1rem 1rem 0 0; 
}

nav a{
    font-size: 2rem;
}

#bars i:hover{
    color:#FF6B00
}

#desktop{
    display:none;
}

#introduction{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    background-color: #1C1A19;
    background-image: url(./assets/images/Illustration-header@2x.png);
    background-repeat: no-repeat;
    background-position:right bottom;
    background-size: 40% 40%;
}

#headline{
      
}

#headline h1{
    font-family: 'Crete Round', serif;
    color:#FF6B00;
    font-size: 2.5rem;
    text-align: justify;
    margin: 7rem 0 0 2rem;
}

#headline .title{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5rem;
    margin: .8rem 0 .8rem 2rem;
}

#headline .content{
    font-family: 'Poppins', sans-serif;
    color:#ffffff;
    font-size: 1rem;
    padding:0 2rem;
    margin: 0 .5rem .8rem 0 .8rem;
    line-height: 1.5rem;   
}

.social ul{
    width:40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0 7rem 4rem;
}

.social li{
    list-style-type: none;
}

.social a{
    color: #e7e4e4;
    font-size: 1.2rem;
    cursor: pointer;
    padding:.5rem;
}

.social a:hover{
    color: #FF6B00;
}


/*Work-section*/
#portfolio{
    width: 100%;
    min-height: 100vh;
}


 
/*Media Query*/
@media only screen and (min-width: 375px){ 
    .social ul{
        margin-top:6rem;
    }
    }
    
    
@media only screen and (min-width: 768px){
    nav h1{
        margin-left: 6rem;
    }
    
    #bars{
        display:none;
    }
    
    #desktop{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    #desktop ul{
        display: flex;
        margin: 1rem 6rem 0 0;
    }
    
    #desktop li{
        list-style-type: none;  
    }
    
    #desktop a{
        font-family: 'Inter', sans-serif;
        color: #ffffff;
        font-size: 1rem;
        padding: 1.2rem;
        text-decoration: none;
        cursor: pointer;
    }
    
    #desktop a:hover{
        color: #FF6B00;
    }

    #introduction{
        background-position:right top;
        background-size: 30% 90%; 
    }

    #headline{
        display:block; 
    }
        
    #headline h1{
        color: #FF6B00;
        font-size: 3.5rem;
        margin-left: 7rem;
    }
    
    #headline .title{
        color: #ffffff;
        font-size: 2rem;
        margin-left: 7rem;
    }
    
    #headline .content{
        width: 45%;
        margin: 0 0 15rem 5rem ;
    }
    
    .social ul{
        display:block;
        margin-left: 2rem;
        margin-top: -30rem;
    }
    
    .social li{
        padding: .6rem;
    }
    
    .social a{
        font-size: 1rem;
    }
    
    }
    
    
      
    